$navbarColor:#1D3557;
$navbarBtnColor: #1D3557;
@mixin navbaritemLink{
    color: $navbarColor;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 4px 20px;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 12px;

   
}
.navbar{
    background-color: #DCE5F7;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem 0.45rem;
    margin-bottom: 20px;
    
    &__logo{
        @include navbaritemLink;
        padding: 15px;
        font-size: 22px;

    }
    
    &__itemLink{
        @include navbaritemLink;

        &:hover{
            font-weight: bold;
            border-bottom: 2px solid $navbarColor; 
        }

        &--isActive{
            font-weight: bold;
    
        }
        
    }
    .navbar-toggler{
        margin-right: 1.4rem;

    }
    .btn{
        padding-left: 1.2rem;
        margin-left:1.5rem;
    }
    .btn .badge{
        margin-left: 1.2rem;
    }
}

.form-inline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    padding: 0.375rem 0.65rem;
    font-size: 1rem;
    font-weight: lighter;
    
    .form-control{
        margin-left: 25px;
        padding-left: 20px;
        padding-right: 40px;
    }

}